.LetterBox {
  border-width: 2px;

  width: 40px;
  height: 40px;
  margin: 2px;

  font-size: 30px;
  color: black;
}

.basic {
  background-color: lightcyan;
}

.incorrect {
  background-color: lightcyan;
  color: red;
}

.not-in-the-place {
  background-color: yellow;
}

.in-the-place {
  background-color: greenyellow;
}

.unknown {
  background-color: red;
}
